<ul>
    {{#each products}}
    <li>
        <p> Titulo: {{title}} </p>
        <p> Descripcion: {{description}} </p>
        <p> Precio: {{price}} </p>
        <p> Imagen: {{thumbnail}} </p>
        <p> Código: {{code}} </p>
        <p> Stock: {{stock}} </p>
    </li>
    <p>----------------------------------</p>
    {{/each}}
</ul>

<div>Hola</div>